@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: #ed1c24;
  /* --text-secondary: royalblue; */
  --accent: purple;
  --design_img: url(../public/images/footer_white.png);
}
[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: #ed1c24;
  /* --text-secondary: grey; */
  --accent: darkred;
  --design_img: url(../public/images/footer.png);
}

.WorkContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pcontent {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-weight: 700;
  padding: 50px 10px;
  color: var(--text-primary);
}

.modalimage {
  width: 400px;
  cursor: pointer;
  height: 300px;
  /* border-radius: 10px; */
}

.sun {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  padding-left: 62px;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.gallery {
  margin: auto;
  margin-bottom: 20px;
}

.workdownload {
  margin-top: 50px;
  padding: 10px 30px;
}

.download {
  border-radius: 20px;
  background: #000000;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 10px 40px;
}
.download:hover {
  text-decoration: none;
  color: #000;
  background: #fff;
  border: 2px solid #000000;
  font-size: 35px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.our {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--text-primary);
}

.workbrand {
  padding: 80px 0;
  /* background: #000000; */
  background: var(--text-primary);
  line-height: 1.5;
  background-image: var(--design_img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;
}

.workjour {
  font-size: 35px;
  color: var(--background);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.workdesign {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.titlewithicon {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 25px;
}

.modaltitle {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.slideswiper {
  margin-right: 200px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
  font-size: 16px;
}

.imagecaro {
  width: 480px;
  height: 330px;
  /* width: 400px;
  height: 19rem; */
  filter: drop-shadow(9px 9px 18px rgba(0, 0, 0, 0.25));
}

/* Contact */

.Contactitle {
  font-size: 50px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--text-primary);
}

.br {
  color: #ed1c24;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;

  font-family: "Poppins", sans-serif;
}
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

input[type="submit"] {
  /* width: 100%; */
  /* background-color: #4caf50; */
  color: #ed1c24;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid var(--text-primary);
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: var(--background);
}

input[type="submit"]:hover {
  background-color: #000000;
  color: #fff;
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
}

.star {
  color: #ed1c24;
}

.sri-img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.Location {
  padding: 30px 0;
  margin: auto;
  position: relative;
}
.bang {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.totalarea {
  margin-left: 30px;
}

.area {
  text-align: justify;
  font-size: 26px;
  font-weight: 600;
  color: var(--text-primary);
}

.addres {
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: var(--text-primary);
}

.map-location {
  padding: 40px 0;
  margin: auto;
}
/* Contact */

@media only screen and (max-width: 500px) {
  .pcontent {
    font-size: 18px;
  }
  .modalimage {
    width: 270px;
    cursor: pointer;
    height: 300px;
  }
  .gallery {
    margin: 0;
  }
  .sun {
    font-size: 20px;
    padding-left: 0;
  }

  .bottom {
    margin-bottom: 15px;
  }
  .workbrand {
    padding: 50px 0;
  }
  .workjour {
    font-size: 14px;
  }
  .workdesign {
    padding: 5px 10px;
    font-size: 12px;
  }
  .area {
    text-align: center;
  }
  .addres {
    text-align: center;
  }
  .totalarea {
    margin-left: 0px;
  }
  .svg {
    display: none;
  }

  .imagecaro {
    width: 400px;
    height: 200px;
  }
  .deli,
  .num {
    font-size: 18px;
  }
  .Contactitle {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .count {
    font-size: 16px;
  }
  .details1,
  .details2 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .details1::before {
    width: 87%;
  }
  .circle,
  .star {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .say,
  .founder {
    text-align: center;
    font-size: 16px;
  }
  .faq .accordion .card .card-body {
    padding-left: 30px;
    padding-right: 30px;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 16px !important;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    font-size: 16px !important;
  }
}

.sticky {
  /* position: -webkit-sticky; */
  position: sticky;
  top: 10%;
}

.text-left {
  color: var(--text-primary);
}

.h2-bolder {
  font-size: 5rem;
  font-weight: 1000;
}

.text-justify {
  font-size: 22px;
}

.ser li {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.brandlist {
  cursor: pointer;
}
.brandlist:hover {
  color: #ed1c24;
  cursor: pointer;
}
